@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@100;400;500;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gabarito", cursive;
}

body {
  background-color: #ffa857;
}

nav,
section {
  max-width: 1500px;
  margin: 0 auto;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: white;
  background-color: #412a15;
}

.nav-items {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(40deg, #d8c838, #ffa857);
  color: rgb(236, 111, 111);
  width: 100%;
  height: 100%;
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
  padding-top: 4rem;
  letter-spacing: 0.5rem;
  z-index: 2;
  display: none;
  li {
    display: block;
    width: 70%;
    padding-top: 2rem;
  }
  a:hover {
    color: rgb(172, 41, 2);
    transition: color 1s;
  }
}

.ham-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2rem;
  width: 3rem;
  z-index: 4;
  height: 3rem;

  * {
    stroke: #8b5523;
  }
  svg {
    width: 2rem;
    height: 2rem;
    color: #ffa857;
  }
}

.close {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.show {
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 100vh;
  font-weight: 100;
  flex-wrap: wrap;
  padding: 0 2rem;
  & > * {
    align-self: center;
  }
  .button {
    width: 9.5rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #ee5252c5;
    color: #ffffff;
    transition: background-color 500ms;
  }
  .button:hover {
    background-color: #f8973d;
  }
}

.hero-image {
  position: relative;
  height: 100vh;
  display: block;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  h1 {
    position: absolute;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.5rem black;
  }
}

.hero-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.486);
}

//Home Page
.home-section {
  height: fit-content;
  position: relative;
  background-color: #ffa857;

  .about-us {
    height: 700px;
    > img {
      width: 100%;
      height: fit-content;
    }
  }
  .menu {
    height: 700px;
    color: rgb(0, 0, 0);
    background-color: #d66d6d;
  }
}

//Menu Page

.menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  background-color: black;
  .menu-header::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.486);
  }
  .menu-box {
    border: 1px solid black;
    padding: 1rem;
  }
}

.breakfast-menu,
.main-menu {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  background-color: #d66d6d;
  padding: 1rem 1rem;
  height: fit-content;
}

//About Page

.about {
  background-color: #f5d3b3;
  height: 100vh;
}

footer {
  background-color: #ffa857;
  padding: 1rem 3rem;

  .footer-items {
    justify-content: space-between;
    svg {
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    svg:hover {
      color: #68442c;
    }
    a:hover {
      color: #68442c;
    }
  }
}

@media (min-width: 700px) {
  .ham-icon {
    display: none;
  }

  .nav-items {
    margin: 0 5rem 0 5rem;
    background: none;
    position: relative;
    display: flex;
    color: white;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-top: 0;
    letter-spacing: 0.2rem;
    z-index: 2;
    gap: 2rem;
    li {
      display: block;
      width: 70%;
      padding-top: 0;
      a {
        display: block;
        width: fit-content;
        margin: auto;
      }
    }
  }

  .section {
    p {
      font-size: 1.2rem;
    }
    h1 {
      font-size: 2rem;
    }
  }

  .about-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    h1 {
      font-size: 2rem;
      margin: auto;
      grid-column: 1/3;
    }
    p {
      font-size: 1.2rem;
      width: 50%;
      grid-row: 2/3;
      justify-self: flex-end;
      grid-column: 1 / 2;
    }
    img {
      width: 100%;
      max-width: 300px;
      max-height: 300px;
      grid-row: 2/3;
      grid-column: 2/3;
    }
    div {
      grid-column: 2/3;
    }
  }
  .menu {
    justify-content: space-evenly;
    p {
      width: 50%;
    }
  }
}
